@import url('https://fonts.googleapis.com/css2? family= Roboto:ital,wght@0,400;0,700;1,300 & display=swap');

*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}

html{
    scroll-behavior: smooth;
}
#inicio {
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url("img/fondo-inicio.jpg");
    background-size: cover;
    background-position: center center;
    height: 100vh;
    
}
#inicio .contenido header .contenido-header img {
    width: 30px;
    display: flex;
}
#inicio .contenido header{
    background-color: rgba(0,0,0, .8);
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
}
#inicio .contenido header .contenido-header{ 
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
#inicio .contenido header .contenido-header h1{
    text-align: center;
    color:brown;
}
#inicio .contenido header .contenido-header nav ul{
    list-style: none;
    display: flex;
    align-items: center;
}
#inicio .contenido header .contenido-header nav ul li a{
    text-decoration: none;
    color: #fff;
    margin: 0 12px;
    font-weight: 400;
    transition: .5s;
    
}

#inicio .contenido .contenido-header nav ul a:hover{
    color: #ff5080;
}
#inicio .contenido header .contenido-header .redes a{
    text-decoration: none;
    color: #fff;
    display: inline-block;
    margin-left: 18px;
    transition: .5s;
}
#inicio .contenido header .contenido-header .redes a:hover{
    color: #ff5080;
}
#inicio .contenido .presentacion{
    max-width: 1100px;
    height: 100vh;
    margin: auto;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#inicio.contenido .presentacion .bienvenida{
    font-size: 16px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
}
#inicio .contenido .presentacion h2 {
    font-size: 55px;
    margin-bottom: 25px;
    text-align: center;
}
#inicio .contenido .presentacion h2 span{
    font-size: 25px;
    color: #ff5080;
    font-size: 50px;
}

#inicio .contenido .presentacion .descripcion{
    max-width: 700px;
    margin: 25px auto;
    font-size: 18px;
    text-align: center;
}
#inicio .contenido .presentacion a{
    text-decoration: none;
    display: inline-block;
    margin: 25px;
    padding: 20px 25px;
    border: 2px solid #fff;
    border-radius: 50px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    transition: .5s;
}
#inicio .contenido .presentacion a:hover{
    background-color: #ff5080;
}

#icono-nav {
    color: #fff;
    display: none;
}

/*SECCIÓN SOBRE MI*/

#sobremi {    
    max-width: 1100px;
    margin: auto;
    padding: 100px 15px;
    color: #111135;
    display: flex;
    text-align: center;
}
#sobremi .contenedor-foto {
    max-width: 400px;
    margin-right: 80px;
}
#sobremi .contenedor-foto img {
    padding: 20px;
    width: 100%;
    border-radius: 70px;
    background-color: #f3f3f3;
}
#sobremi .sobremi  {
    margin: 0 40px;
}
#sobremi .sobremi .titulo-seccion{
  font-size: 22px;
  text-transform: uppercase;
  color: #111135;
  text-decoration: underline;
  text-decoration-color: #d3d3d3;
  text-decoration-thickness: 5px;

}
#sobremi .sobremi h2{
    font-size: 34px;
    font-weight: bold;
    margin: 20px 0;
    letter-spacing: 2px;

}
#sobremi .sobremi h2 span {
    color: #ff5080;
}

#sobremi .sobremi h3 {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

#sobremi .sobremi p{
    font-size: 14px;
    line-height: 25px;
    color: #565656;
    margin-bottom: 12px;
}
#sobremi .sobremi .cv {
    display: block;
    text-decoration-color: #000;
    color: #000;
    border-radius: 30px;
    padding: 10px 20px;
    border : 2px solid #000;
    margin-top: 30px;
    margin: 130px;
    transition: .5s;
    text-decoration: none;
    
}
#sobremi .sobremi .cv:hover{
    background-color: #ff5080;
    color: #fff;

}

.contenedor-skills {
    background: linear-gradient(#f15fc1cc, rgba(214, 188, 188, 0.8)), url("img/fondo-skills.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 100px 0;
    text-align: center;
    ;
}

.contenedor-skills .skill {
    max-width: 600px;
    margin: 15px auto;
    padding: 17px;
    font-weight: bold;

}
.contenedor-skills .skill .info {
    display: flex;
    justify-content: space-between;
    margin-right: 18px;
    margin-left: 18px;
    
}

.contenedor-skills .skill .span .lista {
    display: inline-block;  
    margin-right: 20px;
    height: 10px;
    width: 0px;
    background-color: #fff;
    padding-top: 10px;
    
}
.contenedor-skills .skill .barra {
    background-color: #c78a8a;
    width: 100%;
    height: 6px;
    margin: 10px 0;
}
.contenedor-skills .skill .barra .barra-progreso1 {
    background-color: #fff;
    width: 95%;
    height: 6px;
    animation: progreso1 70s forwards;
}
.contenedor-skills .skill .barra .barra-progreso2 {
    background-color: #fff;
    width: 90%;
    height: 6px;
    animation: progreso2 70s forwards;
}
.contenedor-skills .skill .barra .barra-progreso3 {
    background-color: #fff;
    width: 80%;
    height: 6px;
    animation: progreso3 70s forwards;
}
.contenedor-skills .skill .barra .barra-progreso4 {
    background-color: #fff;
    width: 75%;
    height: 6px;
    animation: progreso4 70s forwards;
}
.contenedor-skills .skill .barra .barra-progreso5 {
    background-color: #fff;
    width: 90%;
    height: 6px;
    animation: progreso5 70s forwards;
}
.contenedor-skills .skill .barra .barra-progreso6 {
    background-color: #fff;
    width: 90%;
    height: 6px;
    animation: progreso6 70s forwards;
}
/* Animaciones de barras de habilidades*/




@keyframes progreso1 {
    0% {
        width: 0;
    }
    100% {
        width: 85%;
    }
}
@keyframes progreso2 {
    0% {
        width: 0%;
    }
    100% {
        width: 80%;
    }
}
@keyframes progreso3 {
    0% {
        width: 0;
    }
    100% {
        width: 80%;
    }
}
@keyframes progreso4 {
    0% {
        width: 0;
    }
    100% {
        width: 75%;
    }
}
@keyframes progreso5 {
    0% {
        width: 0;
    }
    100% {
        width: 90%;
    }
}
@keyframes progreso6 {
    0% {
        width: 0;
    }
    100% {
        width: 90%;
    }
}

/*SECCION PORTFOLIO */
#portfolio {
    max-width: 1100px;
    padding: 140px 0;
    margin: auto;
   
}
#portfolio .titulo-seccion {
    text-align: center;
    padding: 20px;
    font-size: 22px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
    text-decoration: none;
    
}


#portfolio .fila {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
   
}

#portfolio .fila .proyecto {
    max-width: 550px;    
    margin: 35px 10px;
    position: relative;
    overflow: hidden;
}
#portfolio .fila .proyecto img {
    width: 100%;  
    height: 100%;   
    filter: grayscale(1);
    object-fit: cover;
    transition: .5s;
    border-radius: 50px;
}
#portfolio .fila .proyecto:hover img {
    filter: grayscale(0);
}
#portfolio .fila .proyecto .info {
    position: absolute;
    left: 0;
    background-color: rgba(0,0,0, .8);
    color: #ff5080;
    width: 100%;
    padding: 10px;
    opacity: 0;
    bottom: -40%;
    transition: .5s; 
    text-align: center;   
}
#portfolio .proyecto .ver{
    color: #fff;
}
#portfolio .fila .proyecto:hover .info {
    opacity: 1;
    bottom: 0;
}

/* SECCION CONTACTO*/
   
   #contacto {
    background: linear-gradient(#f15fc1cc, rgba(214, 188, 188, 0.8));
   /*min-width: 100vh;*/
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 10px;
   }

   .form {
    background-color: #f3f3f3;
    width: 90%;
    margin: auto;
    max-width: 400px;
    border-radius: 1em;
    padding: 3.5em 1.5em;
    margin-top: 10px;
    margin-bottom: 10px;
  
   }

   .form__container {
    width: 100%;
    display: grid;
    gap: 1em;
    grid-auto-columns: 100%;
   }

   .form__title {
    text-align: center;
    font-size: 1.4rem;
    margin-bottom: .4em;
   }

   .form__input {
    font-family: inherit;
    font-size: 1rem;
    padding: .8rem 1em;
    outline: none;
    border: none;
    border: 1px solid #bbb0b0;
    border-radius: 0.2em;
   }

   .form__input--message {
    resize: none;
    padding: 1.8em 1em;
    margin-bottom: .5em;
   }

   .form__cta {
    font-family: inherit;
    font-size: 1rem;
    background-color: #f0809e;
    color: #f3f3f3;
    border: none;
    font-weight: 300;
    padding: .7em 0;
    border-radius: 1.2em;
    cursor: pointer;
    font-weight: 400;
       
   }
    .form__cta:hover {
       background-color: rgb(221, 82, 82);
       opacity: 10;
       transition: .5s; 
   }
 

     






   /*FOOTER*/
   footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 30px 0;
    margin-top: 20px;

   }
   footer a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    margin : 5px;
    font-size: 26px;
    
   }
   footer .redes {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    margin-left: 18px;
    transition: .5s;
   }
   

   /*SECCION RESPONSIVE */
   @media screen and (max-width:600px)   
    {
    .redes {
        display: none;
    }
    nav {
        display: none;
    }   
    nav.responsive {
        display: block;
        background-color: rgba(0,0,0, .8);
        width: 100%;
        position: absolute;
        top: 48px;
        left: 0;
        padding: 10px 0;
    }
    nav.responsive ul {
        display: block !important;
        text-align: center;
       
    }
    nav.responsive ul li {
        margin: 5px 0;
    }
    #icono-nav {
        display: block;
    }
    #inicio .contenido .presentacion h2 {
        font-size: 40px;
    }
    #sobremi {
        padding: 50px 0;
        display: block;       
    }
    

   
   
    #sobremi .contenedor-foto  {
        max-width: 200px;
        margin: auto;
    }
    #sobremi .contenedor-foto img {
        padding: 8px;        
    }
    #sobremi .sobremi .titulo-seccion {
        text-align: center;
    }
    #sobremi .sobremi h2 {
        font-size: 25px;
        text-align: center;        
    }
    #sobremi .sobremi p {
        justify-content: center;
        text-align: center;        
    }


    #sobremi .sobremi a {
        justify-content: center;
        text-align: center; 
    }

    #sobremi .sobremi .cv {
        display: block;        
        margin: 70px;
       
        
    }
    #portfolio .fila {
        width: auto;
        display: block;
    }
        /*display: block;
        justify-content: center;
        margin: 0 40px;
    
    }*/
  
   
      .form {    
        width: auto;
      }
      /*flex-direction: column;
      display: block;
      float: none;
        }*/
    
}
    /*#contenedor-form {

        max-width: 600px;
        display: block;

    }



    #contacto .contenedor-form .mitad {
        width:   208%;
        display: block;
       
        
        
    }
    #contacto .contenedor-form input, #contacto .contenedor-form textarea {
        justify-content: center;
        margin: 0px 10 ;
        line-height: 1.5em;
    }

    #contacto .titulo-seccion {
        
        margin-top: -83;
        
    }

    #btn-enviar {
        justify-content: center;
    
    }*/
    
    

